
.navigation{
    position: fixed;
    right: 0.5em;
    top: 3em;
    display: flex;
    height: 3rem;
    margin: 0;
    z-index: 999;
    &__list{
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
        width: 3rem;
        margin: 0;
        padding: 0;
        border-radius: 10rem;
        overflow: hidden;
        transition: 300ms;
        
        // &:hover,
        // &:focus,
        // &:active,
        &.open{
            width: calc((4rem * 5) - 1rem);
            background: rgba(0, 0, 0, 0.5);
        }
    }
    &__list-item{
        margin: 0;
        padding: 0;
        &.hidden{
            display: none;
        }
    }
    &__icon{
        width: 3rem;
        aspect-ratio: 1 / 1;
        background: rgba(0, 0, 0, 0.5);
        fill: var(--primary-color);
        border-radius: 50%;
        &--close{
            transform: rotateZ(45deg);
        }
        &:hover{
            fill: var(--accent-color);
        }
    }
}